<form method="post" action="{{ path('app_assosiation_delete', {'id': assosiation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ assosiation.id) }}">
    <button class="btn">Delete</button>
</form>
