{% extends 'base.html.twig' %}

{% block title %}Edit Assosiation{% endblock %}

{% block body %}
    <h1>Edit Assosiation</h1>

    {{ include('assosiation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_assosiation_index') }}">back to list</a>

    {{ include('assosiation/_delete_form.html.twig') }}
{% endblock %}
