{% extends 'base.html.twig' %}

{% block title %}New Assosiation{% endblock %}

{% block body %}
    <h1>Create new Assosiation</h1>

    {{ include('assosiation/_form.html.twig') }}

    <a href="{{ path('app_assosiation_index') }}">back to list</a>
{% endblock %}
