{% extends 'base.html.twig' %}

{% block title %}Начало работы{% endblock %}

{% block body %}
Начнем с знакомства.
<a href="{{ path('app_admin_assosiation_index') }}">Admin Assosiation</a>
{% endblock %}
