<!DOCTYPE html>
<html>
    <head>
        <link href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('bootstrap-icons/font/bootstrap-icons.css') }}" type="text/css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <style src="{{ asset('bootstrap/js/bootstrap.js') }}"></style>
        {% block body %}{% endblock %}
    </body>
</html>
