{{ form_start(form) }}
<div class="input-group mx-auto" style="max-width: 400px;">
    {{ form_widget(form) }}
    <button class="btn btn-outline-success">{{ button_label|default('Сохранить') }}</button>
</div>
{{ form_end(form) }}
